

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

fieldset{
    padding-top: 4rem;
}

.calcSection_CalDiv,
#foodSearchInfo {
    p {font-size: 1.5rem;
        color:white;
    }
}


@media (max-width:600px) {

    #callToAction {
        // background-color: lightgray;
        // padding: 2rem;
        // border-radius: .25rem;
        color: black !important;

    }
}

@media (min-width:600px) {
    #header{
        background-image: url('../img/macropal-bg-2.jpg');
        background-size: cover;

    }

@media (min-width:1025px) {

    #header {
        height: 100vh;
    }
}


}
