
button {
    width:45%;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

// .dropdown-content
.select-dropdown > .active {
    color: #ff9800;
}


.section_calc-submit {
    display: none;
    padding-top: 4rem;
}

.secondary-content {
    color:#ff9800;
}

#nutritionSearchResult {
    display:none;
}
